@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --primary-color: #8ABEB9;
    --primary-color-dark:#2E5077;
    --secondary-color: #FFF0DC;
    --text-color:#000000;
    --white:#ffffff;
    --max-width:1200px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Cairo';
    background-color:#EEEEEE;
}
nav{
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_logo a{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: none;
    transition: 0.3s;
}
.nav_links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.link a{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    transition: 0.3s;
}
.link a:hover{
    color: var(--primary-color);
}
.link .nav_btn{
    padding: 0.5rem 2rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 6px;
}
.link .nav_btn:hover {
    background-color: black;
}
/*terminal icon*/
.nav_btn .ri-terminal-box-fill{
  display: none;
}
.nav_btn:hover .ri-terminal-box-fill{
  display: inline;
}
.nav_btn .ri-terminal-box-line{
  display: inline;
}
.nav_btn:hover .ri-terminal-box-line{
  display: none;
}
/*folder icon*/
.nav_btn:hover .ri-folder-line{
  display: none;
}
.nav_btn .ri-folder-line{
  display: inline;
}
.nav_btn:hover .ri-folder-open-fill{
  display: inline;
}
.nav_btn .ri-folder-open-fill{
  display: none;
}
/**/
.container{
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  min-height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5rem;
}
.content_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content_container h1{
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.5rem;
  color: var(--primary-color-dark);
  margin-bottom: 1rem;
}
.heading_1{
  font-weight: 700;
}
.heading_2{
  font-weight: 700;
  color: var(--primary-color);
}
.content_container p{
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 2rem;
}
.content_container form{
  display: flex;
  align-items: center;
}
.content_container input{
  width: 100%;
  max-width: 300px;
  padding: 1rem;
  font-size: 0.8rem;
  outline: none;
  border: none;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 15px;
}
.content_container button{
  width: fit-content;
  padding: 1rem;
  font-size: 0.8rem;
  white-space: nowrap;
  background-color: var(--primary-color);
  color: var(--white);
  outline: none;
  border: none;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  transition: 0.3s;
  cursor: pointer;
  border-radius: 15px;
}
.content_container button:hover{
  background-color: var(--primary-color-dark); 
}
.image_container{
  position: relative;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
  place-content: center;
}
.image_container img{
  width: 100%;
  max-width: 300;
  margin: auto;
  border-radius: 10px;
}
.image_container img:nth-child(1){
  transform: translate(-40px,70px)
}
.image_container img:nth-child(2){
  transform: translateY(-70px);
}
.image_content{
  position: absolute;
  width: 100%;
  max-width: 310px;
  left: 50%;
  top: 50%;
  transform: translate(-35%, 50%);
  background: linear-gradient(to right, var(--primary-color),var(--primary-color-dark));
  color: var(--white);
  padding: 1rem 2rem;
  border-radius: 10px;
}
.image_content li{
  margin-bottom: 0.5rem;
}
@media (width<900px){
  .link a:not(.nav_btn){
    display: none;
  }
  .container{
    grid-template-columns: repeat(1,1fr);
  }
  .content_container{
    text-align: center;
  }
  .content_container form{
    margin-right: auto;
    margin-left: auto;
  }
  .image_container{
    grid-area: 1/1/2/2;
  }
  .image_container img{
    transform: translateY(0) !important;
  }
}
.nav_logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo_icon {
  width: 50px;
  height: 50px;
  background-color: var(--secondary-color);
  border-radius: 3px;

}
